<div>
  <h2 id="page-heading" data-cy="LojaHeading">
    <span jhiTranslate="thalissonApp.loja.home.title">Lojas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="thalissonApp.loja.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-loja"
        [routerLink]="['/loja/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="thalissonApp.loja.home.createLabel"> Create a new Loja </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="lojas?.length === 0">
    <span jhiTranslate="thalissonApp.loja.home.notFound">No lojas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="lojas && lojas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome"><span jhiTranslate="thalissonApp.loja.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="endereco">
            <span jhiTranslate="thalissonApp.loja.endereco">Endereco</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="telefone">
            <span jhiTranslate="thalissonApp.loja.telefone">Telefone</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="compra.id">
            <span jhiTranslate="thalissonApp.loja.compra">Compra</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let loja of lojas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/loja', loja.id, 'view']">{{ loja.id }}</a>
          </td>
          <td>{{ loja.nome }}</td>
          <td>{{ loja.endereco }}</td>
          <td>{{ loja.telefone }}</td>
          <td>
            <div *ngIf="loja.compra">
              <a [routerLink]="['/compra', loja.compra?.id, 'view']">{{ loja.compra?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/loja', loja.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/loja', loja.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(loja)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="lojas && lojas.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
