<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="compra">
      <h2 data-cy="compraDetailsHeading"><span jhiTranslate="thalissonApp.compra.detail.title">Compra</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ compra.id }}</span>
        </dd>
        <dt><span jhiTranslate="thalissonApp.compra.nomeProduto">Nome Produto</span></dt>
        <dd>
          <span>{{ compra.nomeProduto }}</span>
        </dd>
        <dt><span jhiTranslate="thalissonApp.compra.valor">Valor</span></dt>
        <dd>
          <span>{{ compra.valor }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/compra', compra.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
